<?xml version="1.0" encoding="UTF-8" ?>

<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>[%-5level] [%date{yyyy-MM-dd HH:mm:ss.SSS}] %logger{96} [%line] [%thread] %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="STDOUT1" class="ch.qos.logback.core.ConsoleAppender">
    　  <encoder>
    　    <pattern>[%-5level] [%date{yyyy-MM-dd HH:mm:ss.SSS}] %logger{96} [%line] [%thread] %msg 111 %n</pattern>
    　　</encoder>
　   </appender>

    <logger name="com.wolf.concurrenttest.logback" additivity="false"> <!--additivity控制是否打印到父类-->
        <level value="Debug"/>
        <appender-ref ref="STDOUT1"/>
    </logger>

    <root level="INFO">
        <appender-ref ref="STDOUT"/>
    </root>


</configuration>